<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    
    <h2>Projects in this Category</h2>
    <% if (projects && projects.length > 0) { %>
        <ul>
            <% projects.forEach(project => { %>
                <li>
                    <a href="/project/<%= project.project_id %>"><%= project.title %></a>
                    <% if (project.location) { %>
                        <span> - <%= project.location %></span>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No service projects are currently tagged with this category.</p>
    <% } %>
</main>
<%- include('partials/footer') %>